:root {
    --border: rgb(172, 172, 190);
    --header: rgb(144, 190, 190);
}

* {
    background-color: rgb(31, 53, 46);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    color: var(--header);
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}
a:hover {
    filter: brightness(150%);
    opacity: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(31, 53, 46);
    max-height: 10vh;
    border: double var(--border);
}
header h1 {
    margin: auto;
    color: rgb(144, 190, 190);
    background-color: transparent;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    border-left: double var(--border);
    width: 26%;   
}
.navbar div {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.navbar div p{
    display: flex;
    flex-direction: row;
    margin: auto;
    background-color: transparent;
}
figure {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 400px;
    background-color: transparent;
}
figure img {
    width: 100%;
}
.sideheader {
    width: 25vw;
    color: var(--header);
    text-align: right;
    border-right:  double var(--border);
}
.bio {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: stretch;
    border-top:  double var(--border);
    border-bottom: double var(--border);
}
.bio p {
  margin: auto;
  color: var(--header);
  background-color: transparent;
  font-size: 1vw;
  width: 75vw;
}
.work {
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.linkblock {
    display: flex;
    flex-flow: row wrap;
    width: 75vw;
    border-bottom: double var(--border);
}
.links {
    width: 22vw;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: double var(--border);
}
.linksHoriseon {
    width: 72vw;
    margin: 0;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: double var(--border);
    position: relative;
}
.text-block {
    position: absolute;
    bottom: 20px;
    /* left: 20px; */
    width: 100%;
    background-color: transparent;
    color: var(--header);
    
  }
.text-block h1 {
    background-color: transparent;
}
.linkblock img {
    width: 100%;
    opacity: 30%;
}
.contact {
    display: flex;
    flex-direction: row;
    border-bottom: solid var(--border);
}
.contact section {
    display: flex;
    width: 75vw;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    font-size: 1vw;
}
footer {
    margin-top: auto;
    bottom: 0;
    flex-shrink: 0;
    padding: 20px;
    background-color: rgb(74, 173, 157);
}
footer h2 {
    background-color: transparent;
    text-align: center;
    color: whitesmoke;
}
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    
}