* {
    background-color: black;
}

header {
    height: 50px;
    display: block;
    background-color: aquamarine;
}

.navbar {
    display: inline-block;
    position: relative;
    background-color: chocolate;
    height: 50px;
    width: 33%;
    float: right;
}
.navbar div {
    display: inline-flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    color: crimson;
}
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    
}